{% capture logo_path %}{{ site.logo }}{% endcapture %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav">
        {% unless logo_path == empty %}
          <a href="{{ '/' | relative_url }}"><img src="{{ logo_path | relative_url }}" class="align-center" alt="{{ site.masthead_title | default: site.title }}"></a>
        {% endunless %}
      </nav>
      <div class="visible-links masthead__menu-item text-center">
        {%- for link in site.data.navigation.main -%}
            <a href="{{ link.url | relative_url }}"{% if link.description %} title="{{ link.description }}"{% endif %}>{{ link.title }}&nbsp;&nbsp;&nbsp;</a>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>
